
.container-app {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-section {
    margin: 35px 0;
}

.header-section h2 {
    font-weight: 800;
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: -0.5px;
}

.header-section p {
    color: #94a3b8;
    font-size: 0.75rem;
    margin-top: 4px;
}
